body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #333;

    padding: 0;
    overflow-x: hidden; /* Prevent horizontal overflow */
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 600px;
    text-align: center;


    max-height: 100vh; /* Limit container height to the viewport height */
    overflow-y: auto;  /* Enable vertical scrolling */
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

#options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

#options button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#options button:hover {
    background-color: #0056b3;
}

form {
    text-align: left;
    margin-top: 20px;
}

form h2 {
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="date"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #218838;
}

.hidden {
    display: none;
}

.success-message,
.error-message {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.success-message {
    background-color: #28a745;
}

.error-message {
    background-color: #dc3545;
}


.book-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.book-card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.book-title {
    margin-top: 0;
    font-size: 1.5em;
    color: #333;
}

.book-card p {
    margin: 5px 0;
    color: #555;
}

.book-card p strong {
    color: #333;
}
